<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4">

    <display-name>appserver.io admin interface</display-name>
    <description>Webapp that provides the appserver.io admin interface based on ember.js</description>

    <servlet>
        <description><![CDATA[Serves static content]]></description>
        <display-name>StaticResourceServlet</display-name>
        <servlet-name>StaticResourceServlet</servlet-name>
        <servlet-class>\TechDivision\ServletContainer\Servlets\StaticResourceServlet</servlet-class>
    </servlet>

    <servlet>
        <description><![CDATA[Serves the admin app]]></description>
        <display-name>AdminServlet</display-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>\TechDivision\AppserverAdmin\Servlets\AdminServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StaticResourceServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <security>
        <url-pattern>/</url-pattern>
        <auth>
            <auth_type>Basic</auth_type>
            <realm>appserver.io admin authentication</realm>
            <adapter_type>htpasswd</adapter_type>
            <options>
                <file>passwd</file>
            </options>
        </auth>
    </security>

    <security>
        <url-pattern>/*</url-pattern>
        <auth>
            <auth_type>Basic</auth_type>
            <realm>appserver.io admin authentication</realm>
            <adapter_type>htpasswd</adapter_type>
            <options>
                <file>passwd</file>
            </options>
        </auth>
    </security>

</web-app>