@import "variables";
@import "bootstrap-sass/lib/bootstrap";

/* Custom css */
html, body {
    margin: 30px 0;
}

.as-items li {
	float: left;
	text-align: center;
	border: 1px solid #ddd;
	padding: 20px;
}

.as-items li:hover {
	background-color: #e7e7e7;
}