@import "variables";
@import "../bower_components/dropzone/downloads/css/dropzone.css";
@import "bootstrap-sass/lib/bootstrap";

/* custom styles */
html, body {
  margin: 30px 0;
}

.navbar-brand {
  background: url(../images/logo.png) no-repeat 15px 7px;
  height: 42px;
  padding-left: 55px;
  color: #fff !important;
}

.as-items li {
  float: left;
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
}

.as-items li:hover {
  background-color: #e7e7e7;
}

.app-overview {
  padding: 15px;
}