<div class="row">
    <div class="col-xs-6">
        <h1><span class="glyphicon glyphicon-th"></span> Manage Containers</h1>
    </div>
    <div class="col-xs-6">
        <div class="btn-group pull-right" style="margin-top:25px">
            <button type="button" class="btn btn-default">{{#linkTo containers.new}}<span
                    class="glyphicon glyphicon-plus"></span> New{{/linkTo}}</button>
        </div>
    </div>
</div>

<p></p>

{{outlet}}

{{#each itemController="container"}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span> {{name}}
                        {{#if apps.length}}
                            {{#each app in apps}}
                                <span class="label label-default"><span
                                        class="glyphicon glyphicon-cloud"></span> {{app.name}}</span>&nbsp;
                            {{/each}}
                        {{else}}
                            <small>No apps defined.</small>
                        {{/if}}
                    </h3>
                </div>
                <div class="col-xs-4">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}