<div class="page-header">
	<h1>Containers</h1>
</div>
<p></p>
<ul>
{{#each itemController="container"}}
	<li>
		{{id}}, {{threadType}}, {{type}}
		<button {{action "removeVhost"}} type="button" class="btn btn-default btn-xs">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</li>
{{/each}}
</ul>