<div class="row">
    <div class="col-xs-6">
        <h1>Dashboard</h1>
    </div>
    <div class="col-xs-6">

    </div>
</div>

<hr>

<div class="jumbotron" style="text-align: center">
    <h1>Welcome to the <img style="vertical-align: none" src="static-images/content-logo.png"> admin</h1>
    <p class="lead">Soon there will be activity monitoring for cpu, ram, network and many more. Stay tuned!</p>
</div>