<div class="row">
    <div class="col-xs-6">
        <h1>View Logs</h1>
    </div>
    <div class="col-xs-6">

    </div>
</div>

<p></p>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Live log</h3>
    </div>
    <div id="liveLogContent" class="panel-body"></div>
</div>